Checks: >-
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|apps|tests)/'
FormatStyle: file

